*{
    padding:0;
    margin:0;
}
html{
    scroll-behavior: smooth;
}
.header{
    min-height: 100vh;
    width:100%;
    background-image: linear-gradient(rgba(22, 47, 67, 0.7),
        rgba(4, 9, 30, 0.7)),url(./images/Screenshot\ 2023-04-29\ 110117.png);
    background-size:cover;
    background-position: center;
    position:relative;
}
nav{
    display:flex;
    padding:2% 3%;
    justify-content: space-between;
    align-items:center;
}
nav img{
    width:100px;    
}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display:inline-block;
    padding:6px 12px;
    position:relative;
}

.nav-links ul li a{
    color:whitesmoke;
    text-decoration:none;
    font-size:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-links ul li::after{
    content:'';
    width:0%;
    height: 2px;
    margin:auto;
    display:block;
    background-color:#993300;
    transition:0.5s;
}

.nav-links ul li:hover::after{
    width:100%;
}

.text-box{
    width:90%;
    color:white;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
}

.text-box img{
    width: 300px;
}
.text-box h1{
    font-size:62px;
}
.text-box p{
    margin:10px 10px 40px;
    font-size:30px;
}
.hero-btn{
    display:inline-block;
    text-decoration:none;
    color:white;
    border:1px solid white;
    font-size:13px;
    background:transparent;
    padding:12px 34px;
    position:relative;
    cursor: pointer;
}

.hero-btn:hover{
    background:#993300;
    border:1px solid #000000;
    transition-duration: 0.5s;
}
nav .fa{
    display:none; 
}

.donate{
    background-color:#993300 ;
    border:2px solid black;
    padding:10px;
}
.donate:hover{
    background-color: #7b2901;
    transition-duration:0.5s ;
}



.placards{
    width:80%;
    margin:auto;
    text-align:center;
    padding-top:100px;
}

.placards h1{
    font-size:36px;
    font-weight: 600;
}
.placards p{
    color:#777;
    font-size:15px;
    font-weight: 300;
    line-height: 22px;
    padding:10px;
    text-align: left;
}
.placards a{
    color:rgb(0, 0, 0);
    text-decoration:none;
}
.placards a:hover{
    color:#993300;
}

.row{
    margin-top:5%;
    display:flex;
    justify-content: space-between;
}
.placards-abt{
    flex-basis: 31%;
    background:#fff3f3;
    margin-bottom:5%;
    border-radius: 10px;
    padding:20px 12px;
    box-sizing: border-box;
    transition:0.5s;
}

.row h3{
    font-size: 25px;
    text-align:left;
    font-weight: 600;
    margin:10px 0 0 11px;
}

.placards-abt:hover{
    box-shadow:0 0 20px 0 rgba(244, 67, 54,0.5);
}

.footer{
    text-align: center;
    background-color: #000000;
}
.footer p{
    color:white;
}  
.footer .social{
    padding-top:20px ;
}
.footer .social a{
    font-size: 24px;
    border:2px solid white;
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display:inline-block;
    text-align: center;
    border-radius:10px;
    margin:0.8px;
    color: white;
}
.footer .social a:hover{
    opacity:0.8;
}
.foot{
    color:white;
}





















