html{
    scroll-behavior: smooth;
    
}
nav{
    margin-left:5px ;
    width:95%;
    display:flex;
    padding:1% 2%;
    justify-content: space-between;
    align-items:center;
}

nav img{
    width:150px;  
}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display:inline-block;
    padding:6px 12px;
    position:relative;
}

.nav-links ul li a{
    color:rgb(0, 0, 0);
    text-decoration:none;
    font-size:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-links ul li::after{
    content:'';
    width:0%;
    height: 2px;
    margin:auto;
    display:block;
    background-color:#993300;
    transition:0.5s;
}

.nav-links ul li:hover::after{
    width:100%;
}
.donate{
    background-color:#993300 ;
    border:2px solid black;
    padding:10px;    
}
.donate:hover{
    background-color: #7b2901;
    transition-duration:0.7s ;
}
.mid{
    display:flex;
    flex-direction: row;
}
.mid p{
    background-color:#fff3f3;;
    margin-top: 42px;
    margin-left: 10px;
    border:1px solid white;
    font-size: 20px;
    padding-left: 10px;
    padding-top:10px;
    border-radius: 10px;
}
.mid p:hover{
     box-shadow:0 0 20px 0 rgba(244, 67, 54,0.5);
}
.footer{
    text-align: center;
    background-color: #000000;
    margin-left:-10px;
    margin-right: -10px;
    margin-bottom: -10px;
}
.footer p{
    color:white;
}  
.footer .social{
    padding-top:20px ;
}
.footer .social a{
    font-size: 24px;
    border:2px solid white;
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display:inline-block;
    text-align: center;
    border-radius:10px;
    margin:0.8px;
    color: white;
}
.footer .social a:hover{
    opacity:0.8;
}
.foot{
    color:white;
}
.prfamily {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.diwali{
  display: block;
  padding: 10px;
  border-radius: 10px;
  margin-left:auto 20px;
  margin-right: auto 20px;
  width: 50%;
  
}
